.App {
  text-align: center;
}

.App-header {
  background-color: rgb(35, 35, 104);
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-top: 1vh;
}

body {
  background-image: url('./Media/vacas_catie.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 340px;
  color:rgb(29, 29, 53);
}

.seccion, .grafico {
  margin: 10px;
  padding: 5px;
  border: solid 2px rgb(35, 35, 104);
  background-color: rgba(255,255,255,0.75);
}

.grafico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  background-color: rgba(255,255,255,0.5);
  padding: 1.5px;
  border-radius: 10px;
  margin: 1.5px;
}

.mostrar {
  border: none;
  font-weight: 600;
  background-color: rgba(255,255,255,0.5);
  justify-self: center;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mostrar:hover {
  background-color: lightgray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.seccionFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

input {
  text-align: center;
  width: 300px;
  margin-top: 5px;
  font-size: medium;
}

input::placeholder {
  font-size:small;
}

.resultados {
  background-color: rgba(255,255,255,0.5);
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}

#MiLecheria {
  max-height: 65px;
  max-width: 85vw;
  margin-bottom: -20px;
}

.subseccion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items:baseline;
}

.button {
  margin: 10px;
}

#instrucciones {
  text-align: left;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.logo {
  max-width: 135px;
  max-height: 70px;
  margin: 5px;
}

footer {
  margin-top: 10px;
  background-color: white;
  color: rgb(35, 35, 104);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-top: rgb(117, 189, 213) solid 25px;
  border-bottom:rgb(117, 189, 213) solid 25px;
  padding-top: 15px;
  line-height: 0.8;
}

.containerLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

#MiLecheria {
  width: 250px;
  margin-top:15px;
  margin-bottom: 3px;
}