.App {
  text-align: center;
}

.App-header {
  background-color: rgb(35, 35, 104);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  color: white;
  padding-top: 1vh;
}

body {
  background-image: url('./Media/vaquitas.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 340px;
  color:rgb(29, 29, 53);
}

.seccion, .opciones {
  margin: 10px;
  padding: 5px;
  border: solid 2px rgb(35, 35, 104);
  background-color: rgba(255,255,255,0.6);
}

.opciones {
  font-size: small;
}

button {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.seccionFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

input {
  text-align: center;
  width: 300px;
  margin-top: 5px;
  font-size: medium;
}

input::placeholder {
  font-size:small;
}

.resultados {
  background-color: rgba(255,255,255,0.5);
  padding: 1.5px;
  border-radius: 10px;
  margin: 1.5px;
}

#MiLecheria {
  max-height: 65px;
  max-width: 85vw;
  margin-bottom: -20px;
}

.subseccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
}

#instrucciones {
  text-align: justify;
  padding-left: 1%;
  padding-right: 1%;
}

.logo {
  max-width: 75vw;
  max-height: 100px;
  margin-top: 15px;
  margin-left: 1vw;
  margin-right: 1vw;
}

footer {
  margin-top: 70px;
  background-color: white;
  color: rgb(35, 35, 104);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-top: rgb(117, 189, 213) solid 25px;
  border-bottom:rgb(117, 189, 213) solid 25px;
  line-height: 0.6;
}

.containerLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}